* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Fira Code';
	background-color: #0f0026;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 320px;
	margin: 0 auto;
}

.title {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	color: #4d4c7d;
	background-color: #d3d3d3;
	margin: 10px 0;
	border-radius: 15px;
}
.squareContainer {
	width: 320px;
	height: 320px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.square {
	width: 100px;
	height: 100px;
	border: 2px solid #363062;
	cursor: pointer;
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease-in-out;

	z-index: 99;
}

.square:hover {
	transform: scale(0.95);
}

.circle {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 15px solid #4d4c7d;
}

.cross {
	width: 90px;
	height: 90px;
	position: relative;
	transform: rotate(45deg);
}

.cross::before,
.cross::after {
	content: '';
	position: absolute;
	background-color: #f99417;
}

.cross::before {
	left: 55%;
	width: 20%;
	margin-left: -15%;
	height: 100%;
}
.cross::after {
	top: 55%;
	height: 20%;
	margin-top: -15%;
	width: 100%;
}

button {
	padding: 16px 24px;
	background-color: #df8117;
	border: none;
	border-radius: 10px;
	margin:0 auto;
  margin-top: 20px;
	color: white;
	cursor: pointer;
	font-size: 18px;

}

h2 {
	background-color: #363062;
	padding: 20px;
	margin: 0 auto;
  margin-top: 20px;
	border-radius: 15px;
	color: #f5f5f5;
	text-align:center;
}